* {
    margin: 0;
}




/* Common shared style */
body {
    font-family: 'Work Sans', sans-serif;

}

/* Header Section */
.header {
    background-image: url('images/banner/banner3.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: right;
    height: 100vh;
}

.banner-inside {
    text-align: right;
    width: 500px;
    margin-right: 215px;
}

.greeting {
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 215px;
    padding-bottom: 24px;
}

.greeting-des {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 35px;
}

.greeting,
.greeting-des {
    color: #FFF;
}

.btn {
    color: #005FAC;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 160px;
    height: 64px;
    flex-shrink: 0;
    background-color: #FFF;
    border: #FFF;
    border-radius: 2px;
    margin-bottom: 165px;
}


/* main section style */

/* failures section */

.failures-container{
    display: flex;
    margin: 80px 215px;
    justify-content: space-between;
    align-items: center;
}
.person{
    height: 850px;
}
.failures{
    padding-left: 150px;
    justify-content: space-around;
}

.failures-check {
    list-style: none;
    padding-top: 28px;
}
.failures-title{
    color: #151414;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 280px;
}
.failures-des{
    padding-top: 28px;
    color: #444343;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.ckeck{
    padding-top: 15px;
    color: #444343;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.fa-solid{
    color: #16D887;
    margin-right: 8px;
}

/* Plan section */

.plan-section{
    text-align: center;
    margin: 80px 215px;

}
.plan-container{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.Plans-title{
    color: #151414;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;   
}

.plans h2{
    color: #151414;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;   
    padding: 15px 0px ;
}

.plans p{
    color: #737272;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;    
}

/* call section */
.call-section{

}
.call-container{
    margin: 150px 215px;
    position: relative;

   
}
.watch{
    width: 1500px;
    height: 400px;
    background-image: url('images/watch.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.watch{
 
}
.call-des{
    position: absolute;
    top: 25%;
    left: 7%;
}
.call-title{
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;    
}
.call-btn{
    border-radius: 3px;
    background: #FFF;
    color: #005FAC;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 160px;
    height: 64px;
    border: none;
    margin-top: 8%;
}


/* Subscribe section */
.Subscriber-section{
    background-color: #151414;
}

.Subscriber-container{
    display: flex;
    padding: 150px 215px;
  
}
.future{
    width: 50%;
    color: #F3F3F3; 
}
.future-title{
    color: #F8F8F8;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.future-des{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    line-height: 26px;
    display: flex;
    padding-right: 30%;
    padding-top: 25px;
}
.Subscriber{
    width: 50%;
    margin-left: 45%;
    
    

}
.subscribe-title{
    color: #FFF;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.sub-btn{
    width: 170.106px;
    height: 64px;
}
.email-box{
    background: #151414;
    border: 1px solid white;
    padding: 30px 0px 30px 30px;
    width: 300px;
    color: #ffffff;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.sub-btn{
    margin-top: 30px;
    border-radius: 8px;
    background: #005FAC;
    border: none;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}